<footer class="flex-container">
    <div class="button-container">
        <a href="www.facebook.com">
            <img src="../../../assets/images/facebook.png" alt="facebook link">
        </a>
    </div>
    <div class="button-container">
        <a href="www.twitter.com">
            <img src="../../../assets/images/twitter.png" alt="twitter link">
        </a>
    </div>
    <div class="button-container">
        <a href="www.instagram.com">
            <img src="../../../assets/images/instagram.png" alt="instagram link">
        </a>
    </div>
    <div class="button-container">
        <a href="www.linkedin.com">
            <img src="../../../assets/images/linkedin.png" alt="linkedin link">
        </a>
    </div>
    <p>Author: Hege Refsnes<br>
    <a href="www.facebook.com">hege@example.com</a></p>
</footer>