.container {
    margin: 0 auto;
    display: flex;
    width: max-content;
    background-color: white;
    padding: 2em;
}
.login-control {
    margin: 0 auto;
    display: block;
    width: 100%;
}

section {
    text-align: center;
    padding: 3em 0;
}

.divider-container {
    display: flex;
}

.others-container {
    display: flex;
    justify-content: space-between;
}

.others-element-right {
    @extend .login-control;
    margin-left: 2px;
    flex: 1;
}

.others-element-left {
    @extend .login-control;
    margin-right: 2px;
    flex: 2;
}

mat-divider {
    margin-top: 1em;
    margin-bottom: 1em;
}