<section>
    <div class="container" dir="rtl">
        <div class="form-group">
            <mat-form-field appearance="outline" class="login-control">
                <mat-label>شماره همراه</mat-label>
                <input matInput placeholder="09xxxxxxxx">
                <mat-icon matSuffix>phone_android</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="login-control">
                <mat-label>کلمه عبور</mat-label>
                <input matInput>
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-control">ورود</button>
            <mat-divider></mat-divider>
            <div class="others-container">
                <button mat-stroked-button color="primary" class="others-element-right">ثبت نام</button>
                <button mat-stroked-button color="warn" class="others-element-left">یادآوری کلمه عبور</button>
            </div>
            
        </div>
    </div>
</section>


<!-- <footer color="primary">
    <p>Author: Hege Refsnes<br>
        <a href="mailto:hege@example.com">hege@example.com</a></p>
</footer> -->