$hovered-backgroundcolor : #3c236b;
$selected-backgroundcolor : #522f92;
$hovered-color: #e3cd78;

@mixin user-select($property) {
    user-select: $property;
    -webkit-user-select: $property;
    -moz-user-select: $property;
    -ms-user-select: $property;
  }

.toolbar-spacer {
    flex: {
        grow: 1;
        shrink: 1;
        basis: auto;
    }
}

mat-toolbar-row {
    a {
        color: inherit;
    }
    a:hover {
        color: $hovered-color;
        background-color: $hovered-backgroundcolor;
    }
}

.ripple-container {
    cursor: pointer;
    text-align: center;
    padding: 0.1em 0.4em;
    border-radius: 10%;
  
    @include user-select(none);

    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}