@import '../../../assets/fonts/IRANSansWeb/webfonts/css/fontiran.css';
body {
    font-family: 'IRAN' !important;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: 'IRAN' !important;
}