<section>
    <div class="container" dir="rtl">
        <div class="form-group">
            <mat-form-field appearance="outline" class="signup-control">
                <mat-label>شماره همراه</mat-label>
                <input matInput placeholder="09xxxxxxxx">
                <mat-icon matSuffix>phone_android</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="accent" class="signup-control">ثبت نام</button>
            <mat-divider></mat-divider>
            <a routerLink="/login" routerLinkActive="active-link">
                <button mat-stroked-button color="primary" class="signup-control">ورود</button>
            </a>
        </div>
    </div>
</section>