<div class="container" [class.platform-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="panel-toolbar">
        <button mat-mini-fab color="accent" aria-label="Menu button that opens the side nav" (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="service-name">{{serviceName}}</h1>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" dir="rtl">
        <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item id="0" role="listitem" (click)="alterUi($event)">مشاوره</a>
                <a mat-list-item id="1" role="listitem" (click)="alterUi($event)">تنظیم دادخواست</a>
                <a mat-list-item id="2" role="listitem" (click)="alterUi($event)">تنظیم شکایت نامه</a>
                <a mat-list-item id="3" role="listitem" (click)="alterUi($event)">تنظیم مبایعه نامه</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
            <ng-template appService></ng-template>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
